[Unit]
Description=Vorta Backup Software
Requires=media-nas-nasenbaer.mount
After=graphical-session-started.target
After=media-nas-nasenbaer.mount

[Service]
Type=simple
ExecStart=flatpak run com.borgbase.Vorta --daemonize
Restart=on-failure
RestartSec=10